# systemd service for managing all unbound postconfiguration.

[Unit]
Description=Unbound Configuration Postdiscovery
After=unbound.service

[Service]
Type=oneshot
ExecStart=/usr/bin/flock -s /etc/device/system/dns/ /usr/bin/sequence -s daemon.info -b /usr/libexec device/postdiscovery/unbound.d start
ExecReload=/usr/bin/flock -s /etc/device/system/dns/ /usr/bin/sequence -s daemon.info -b /usr/libexec device/postdiscovery/unbound.d reload
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

