# systemd service for managing all unbound autoconfiguration.

[Unit]
Description=Unbound Server Configuration Autodiscovery
Before=unbound.service
After=firewalld.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/libexec/device-autodiscovery/unbound start
ExecReload=/bin/bash /usr/libexec/device-autodiscovery/unbound reload
ExecStop=/bin/bash /usr/libexec/device-autodiscovery/unbound stop
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

