# systemd service for managing all unbound autoconfiguration.

[Unit]
Description=Unbound Server Configuration Autodiscovery
Before=unbound.service
After=firewalld.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sequence -s daemon.info -b /usr/libexec device-autodiscovery/unbound.d start
ExecReload=/usr/bin/sequence -s daemon.info -b /usr/libexec device-autodiscovery/unbound.d reload
ExecStop=/usr/bin/sequence -s daemon.info -b /usr/libexec device-autodiscovery/unbound.d stop
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

